* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width:  100%;
    height: 100%;
    margin: 0;
    background: #131313;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    overflow-x: hidden;
}
/* text colors */
.text-secondary {
    color: #A1EEDB!important;
}

/* background colors */
.bg-dark {
    background: #131313!important;
}

.bg-primary {
    background: #000000!important;
}

/* svg */

.logo {
    width: 3em;
    pointer-events: none;
}

.svg-footer {
    width: 2em;
    pointer-events: none;
}

/* navbar */

.navbar p {
    text-shadow: 1px 1px 9px rgba(0,0,0,0.41);

}

.scrolled {
    background: #131313ec!important;
    transition: background 500ms;
}

/* carrousel */

.carrousel_img {
    object-fit: cover;
}

@media (min-width: 992px) {
    .carrousel_img {
        width: 100%;
    }
 }

 /* 3D object */
#renderCanvas:focus-visible {
    border: 0;
    outline: 0;
}

/* left img card */

.left-img-card {
    flex-direction: row;
    align-items: center;
}

.left-img-card img {
    width: 50%;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
}

@media only screen and (max-width: 992px) {
    .left-img-card .card img {
    width: 40%;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
    }
}

/* Blog */
.btn-primary {
    background: linear-gradient(to right, #75c3f0 15%, #5c9dff 50%, #6840f8 100%)!important;
    border: none!important;
    transition: 0.5s;
}

.btn-primary:hover {
    background: linear-gradient(to right, #6840f8 50%, #17259e 100%)!important;
    color: #ececec!important;
}

/* Gallery Images */
.gallery-img .card-body {
    transform: translateY(-100%);
    z-index: -1;
    transition: 0.5s linear;
}

.gallery-img:hover .card-body {
    transform: translateY(0%);
}